.hrmdb-container {
  display: flex;
  height: 100vh;
}

.hrmdb-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0px;
  background-color: #ffffff;
  margin-bottom: 10px;
}

.hrmdb-header h1 {
  font-size: 2em;
  margin: 0; /* Remove any margin around the heading */
  padding: 10px 0; /* Adjusted padding to reduce space */
}
.hrmdb-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  background-color: #f5f5f5;
}
.hrmdb-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  width: 80%;
  margin-bottom: 0%;
}

.hrmdb-card-row {
  display: flex;
  justify-content: space-around; /* Evenly distribute space between cards */
  margin-bottom: 20px; /* Add some space below the row */
}

.hrmdb-card {
  width: 200px;
  height: 200px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  align-content: center;
  background-color: #fff;
}

.hrmdb-card img {
  width: 100px;
  height: 100px;
  object-fit: cover; /* Ensure the image covers the entire area while maintaining aspect ratio */
  background-color: #ffffff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 10px;
}

.hrmdb-card p {
  margin-top: 10px;
}

.hrmdb-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #2196F3;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  margin: 0 auto 10px;
}

.hrmdb-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
}
