.sidebar {
  width: 15%;
  height: 100vh; /* Ensure it takes full height of the viewport */
  background-color: #429DFF;
  padding: 20px;
  color: white;
  position: fixed; /* Make sure it stays on the side */
  top: 0;
  left: 0;
}

.sidebar .logo {
  width: 100px;
  border-radius: 50%;
  display: block;
  margin: 20px auto 30px;
}

.sidebar button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: #357ae8; /* Slightly darker shade for button */
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.sidebar button:hover {
  background-color: #285bb5; /* Darker shade on hover */
}

.link {
  text-decoration: none; /* Remove underline from links */
}

.signout-button {
  background-color: #d9534f; /* Red color for the sign-out button */
}

.signout-button:hover {
  background-color: #c9302c; /* Darker shade on hover */
}
/* Navigation Bar Styling */
.navigation {
  flex: 1;
  padding: 10px 0;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation ul li {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
}

.navigation ul li:hover {
  background-color: #005BB5;
}

.navigation ul li span {
  margin-left: 10px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.sidebar.collapsed .navigation ul li span {
  opacity: 0;
}

.sidebar.collapsed .navigation ul li {
  justify-content: center;
}