.accounttable table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table_container1 {
    margin: 20px;
    
}

.accounttable th, .accounttable table td {
    border: 2px solid #000000;
    padding: 10px;
    text-align: left;
}

.accounttable th {
    background-color: #1c76db;
    color: #ffffff;
    font-family: ""Trebuchet MS", Helvetica, sans-serif	";
}
.accounttable td {
    background-color: #ecf0f1;
    border: 2px solid #000000;
}

.updateBtn1 {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;

}

.updateBtn1:hover {
    background-color: #45a049;
}

.deleteBtn1 {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    align-items: center;
}

.deleteBtn1:hover {
    background-color: #e31e10;
}

.search_container1 select {
    border: none;
    padding: 8px;
    background-color: #1c76db;
    color: #fff;
    cursor: pointer;
    outline: none;
    width: 35%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 5px;
}

.search_container1 select option {
    background-color: #fff;
    color: #000;
    
}

.search_container1 input[type="text"] {
    border: none;
    padding: 10px;
    outline: none;
    width: 200px;
    height: auto;
}

.search_container1 {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.search_box1 {
    display: flex;
    align-items: center;
}

.total-vehicles {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.TableHeader1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #cecfd1;
    height: 80px;
} 

.btn1 {
    background-color: #1c76db;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.btn1:hover {
    background-color: #000000;
}


