.container {
    display: flex;
    height: 100vh;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0px;
    background-color: #ffffff;
    margin-bottom: 10px;
  }

  .header h1 {
    font-size: 2em;
    margin: 0; /* Remove any margin around the heading */
    padding: 10px 0; /* Adjusted padding to reduce space */
  }
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    width: calc(100% - 200px);
    margin-bottom: 0%;
  }
  
  .card-row {
    display: flex;
    justify-content: space-around; /* Evenly distribute space between cards */
    margin-bottom: 20px; /* Add some space below the row */
  }
  
  .card {
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    align-content: center;
    background-color: #fff;
  }
  
  .card img {
    width: 100px;
    height: 100px;
    object-fit: cover; /* Ensure the image covers the entire area while maintaining aspect ratio */
    background-color: #ffffff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px;
  }
  
  .card p {
    margin-top: 10px;
  }
  
  .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #2196F3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin: 0 auto 10px;
  }
  
  .link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
  }