table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    text-align: center;
}

.table_container12 {
    padding: 20px;
}

.table_container12_2 {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.64);
    border-radius: 10px;
    overflow: hidden;
    background: #000000;
}

.TableHeader12 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #f3f3f3;
    border-bottom: 2px solid #c1bbbb;
    
}

.TableHeader12 h2 {
    margin: 0;
    font-size: 24px;
}

.TableHeader12 .btn {
    background-color: #6b79d2;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.TableHeader12 .btn:hover {
    background-color: #222;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead tr {
    background-color: #2023d7;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

table th, table td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    text-align: center;
}



.table_container {
    padding: 20px;
}

.table_container_2 {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.64);
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
}

.TableHeader12 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #f3f3f3;
    border-bottom: 2px solid #c1bbbb;
    
}

.TableHeader12 h2 {
    margin: 0;
    font-size: 24px;
}

.TableHeader12 .btn {
    background: linear-gradient(to right, #0056b3, #8e44ad);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.TableHeader12 .btn:hover {
    background-color: #222;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead tr {
    background-color: #2023d7;
    color: #000000;
    text-align: left;
    font-weight: bold;
}

table td {
    padding: 12px 15px;
    border: 1px solid #000000;
    color: #000000;
}

table th{
    background-color: #1c76db;
    color: #ffffff;
    font-family: ""Trebuchet MS", Helvetica, sans-serif	";
}


table tbody tr {
    border-bottom: 1px solid #000000;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.updateBtn{

    background: #0dc538;
    width: 60px;
    height: 35px;
    border: none;
    color: #dddddd;
    font-size: 15px;
}

.updateBtn:hover{

    background: #09a42d;
    cursor: pointer;
}

.deleteBtn{

    background: #e91515;
    width: 60px;
    height: 35px;
    border: none;
    color: #dddddd;
    font-size: 15px;
    margin-left: 5px;
}

.deleteBtn:hover{

    background: #cb1313;
    cursor: pointer;
}.report-options {
    margin: 10px 0;
}

.report-options label {
    margin-right: 20px;
}

.report-options select {
    margin-left: 10px;
}

.btn12 {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    height: 50px;
}

.table_container12 .TableHeader12 {
    margin-bottom: 20px;
}


.updateBtn12{

    background: #0dc538;
    width: 60px;
    height: 35px;
    border: none;
    color: #dddddd;
    font-size: 15px;
}

.updateBtn12:hover{

    background: #0dc538;
    cursor: pointer;
}

.deleteBtn12{

    background: #ff0000;
    width: 60px;
    height: 35px;
    border: none;
    color: #dddddd;
    font-size: 15px;
    margin-left: 5px;
}

.deleteBtn12:hover{

    background: #cb1313;
    cursor: pointer;

}.report-options {
    margin: 10px 0;
}

.report-options label {
    margin-right: 20px;
}

.report-options select {
    margin-left: 10px;
}

.btn12 {
    background-color: #0d42e2;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.table_container12 .TableHeader12 {
    margin-bottom: 20px;
}
