/* emplist.css */

.deleted-employee-search-filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  height: fit-content;
}

.deleted-employee-content {
  margin-left: 20vw;
  width: 80vw;
}

.deleted-employee-search-filter input,
.deleted-employee-search-filter select {
  padding: 0px;
  font-size: 1em;
}

.deleted-employee-table {
  width: 100%;
  border-collapse: collapse;
}

.deleted-employee-table th,
.deleted-employee-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.deleted-employee-table th {
  background-color: #f2f2f2;
  color: black;
}

.deleted-employee-table tr:hover {
  background-color: #f1f1f1;
}

.deleted-employee-table button {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #429dff;
  color: white;
  border: none;
  cursor: pointer;
}
